name: Publish

on:
  workflow_dispatch:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set up Python 3.7
        uses: actions/setup-python@v3
        with:
          python-version: "3.7"
      - name: Set up poetry
        run: |
          curl -o /tmp/install-poetry.py -sSL https://raw.githubusercontent.com/python-poetry/poetry/master/install-poetry.py
          python /tmp/install-poetry.py --yes --preview
          poetry plugin add poetry-version-plugin
      - name: Publish package
        run: |
          poetry publish --username=ar90n --password=${PYPI_PASSWORD} -n --build
        env:
          PYPI_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
